.work {
    padding: 2em;
    margin: 0 auto;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}
  
.work:hover {
    transform: translateX(-7px);
}

.work_list {
    list-style-type: circle;
    margin-top: 1em;
    padding-left: 3em;
}

.work__description {
    margin-top: 1em;
}